/* Style pour la page de bienvenue */

#logos {
    position: absolute;
    left:17%;
    top: 200px;
}

#logos img {
    width: 621px;
}

/*partie mySpace */
#bienvenue_myspace {
	position: relative;
	width: 700px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 170px;
}

img#myspace_fleches {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 40px;
}

#bienvenue_myspace_text {
	width: 400px;
	color: white;
	font-family: "Palatino", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

#main_table {
	border-collapse: collapse;
}

#ulule_title {
	font-weight: bolder;
}

#ulule_content {

}

#bienvenue_myspace_text_bottom {
	position: absolute;
	bottom: 0px;
	width: 400px;
	height: 70px;
}

#bienvenue_myspace_album_imgs {
	position: absolute;
	left: 150px;
	top: -13px;
	width: 250px;
	height: 135px;
}

#human_swing_box_ulule {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 0;
	top: 0;
}

#human_swing_box_album{
	height: 135px;
}

#melodies_extraordinaires_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 155px;
	top: 0;
}

#melodies_extraordinaires_album {
	height: 135px;
}

#paris_village_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 310px;
	top: 0;
}

a#meddled_times_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 465px;
	top: 0;
}

#bienvenue_myspace_img_fleches {
	position: absolute;
	left: 400px;
	width: 50px;
	height: 135px;
}

a#bienvenue_melodie_extra_teaser {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding: 5px;
	left: 150px;
	top: 0;
}

#bienvenue_main {
    position: static;
}

#bienvenue_link {
	display: inline-flex;
	background-image: url("../bienvenue5a.png");
	width: 146px;
	height: 49px;
	border: 0;
}

#bienvenue_link:hover {
	background-image: url("../bienvenue5b.png");
}

#welcome_link {
	display: inline-flex;
	background-image: url("../bienvenue6a.png");
	width: 146px;
	height: 49px;
	border: 0;
}

#welcome_link:hover {
	background-image: url("../bienvenue6b.png");
}

a#bienvenue_lien_chaine_youtube {
	display: block;
	color: white;
	text-decoration: none;
	border: 1px red solid;
	font-size: 15px;
	font-family: verdana, arial;
	padding-left: 25px;
}

#bienvenue_body {
    background-image: url(../mam_fond.png);
    background-repeat: round;
}

#bienvenue_body table {
    line-height: 0;
}

.align_right {
	text-align: right;
	padding-right: 20px;
}

.bordered {
	border: solid white 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bordered img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dynamic_bordered:hover {
	border: solid white 2px;
}

#share {
    position: relative;
    left: 179px;
    top: -55px;
}

.share_logo img {
	height: 50px;
    width: 50px;
	margin: 10px;
}

#twitter_logo img {
	background-color: #55acee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/*Fin style page bienvenue*/

table {
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
}

table tr td {
    padding: 0;
}


#jazzin_link {
    background-image: url(../menutrans3.jpg);
    display: block;
    width: 89px;
    height: 78px;
}

#jazzin_link:hover {
    background-image: url(../menutrans3bis.jpg);
}

#mamduo_link {
    background-image: url(../menutrans4.jpg);
    display: block;
    width: 77px;
    height: 78px;
}

#mamduo_link:hover {
    background-image: url(../menutrans4bis.jpg);
}

#mamtrio_link {
    background-image: url(../menutrans5.jpg);
    display: block;
    width: 83px;
    height: 78px;
}

#mamtrio_link:hover {
    background-image: url(../menutrans5bis.jpg);
}

#mamquartet_link {
    background-image: url(../menutrans6.jpg);
    display: block;
    width: 85px;
    height: 78px;
}

#mamquartet_link:hover {
    background-image: url(../menutrans6bis.jpg);
}

#guenaelle_link {
    background-image: url(../menutrans7.jpg);
    display: block;
    width: 127px;
    height: 78px;
}

#guenaelle_link:hover {
    background-image: url(../menutrans7bis.jpg);
}

#machine_link {
    background-image: url(../menutrans8.jpg);
    display: block;
    width: 135px;
    height: 78px;
}

#machine_link:hover {
    background-image: url(../menutrans8bis.jpg);
}

#accueil_link {
    background-image: url(../menulat2.jpg);
    display: block;
    width: 153px;
    height: 51px;
}

#accueil_link:hover {
    background-image: url(../menulat2bis.jpg);
}

#actualite_link {
    background-image: url(../menulat3.jpg);
    display: block;
    width: 153px;
    height: 42px;
}

#actualite_link:hover {
    background-image: url(../menulat3bis.jpg);
}

#concerts_link {
    background-image: url(../menulat4.jpg);
    display: block;
    width: 153px;
    height: 39px;
}

#concerts_link:hover {
    background-image: url(../menulat4bis.jpg);
}

#presse_link {
    background-image: url(../menulat5.jpg);
    display: block;
    width: 153px;
    height: 39px;
}

#presse_link:hover {
    background-image: url(../menulat5bis.jpg);
}

#discographie_link {
    background-image: url(../menulat6.jpg);
    display: block;
    width: 153px;
    height: 45px;
}

#discographie_link:hover {
    background-image: url(../menulat6bis.jpg);
}

#jeune_link {
    background-image: url(../menulat7.jpg);
    display: block;
    width: 153px;
    height: 43px;
}

#jeune_link:hover {
    background-image: url(../menulat7bis.jpg);
}

#credits_link {
    background-image: url(../menulat8.jpg);
    display: block;
    width: 153px;
    height: 45px;
}

#credits_link:hover {
    background-image: url(../menulat8bis.jpg);
}

#contact_link {
    background-image: url(../menulat9.jpg);
    display: block;
    width: 153px;
    height: 53px;
}

#contact_link:hover {
    background-image: url(../menulat9bis.jpg);
}

ul.left_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 153px;
}

.general-style {
    font-family: sans-serif;
    font-size: medium;
    color: #000;
    background: #C9935D;
}

.general-style a
{
    color:#BA2819;
    text-decoration:none;
}

.general-style a:hover
{
    color:#FFFFFF;
    text-decoration:none;
}

.float {
    position: absolute;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 200px;
    top: 118px;
    right: 25px;
}

div#preload { display: none; }