/* Style pour la page de bienvenue */

#logos {
    position: absolute;
    left:17%;
    top: 200px;
}

#logos img {
    width: 621px;
}

/*partie mySpace */
#bienvenue_myspace {
	position: relative;
	width: 700px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 170px;
}

img#myspace_fleches {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 40px;
}

#bienvenue_myspace_text {
	width: 400px;
	color: white;
	font-family: "Palatino", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

#main_table {
	border-collapse: collapse;
}

#ulule_title {
	font-weight: bolder;
}

#ulule_content {

}

#bienvenue_myspace_text_bottom {
	position: absolute;
	bottom: 0px;
	width: 400px;
	height: 70px;
}

#bienvenue_myspace_album_imgs {
	position: absolute;
	left: 150px;
	top: -13px;
	width: 250px;
	height: 135px;
}

#human_swing_box_ulule {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 0;
	top: 0;
}

#human_swing_box_album{
	height: 135px;
}

#melodies_extraordinaires_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 155px;
	top: 0;
}

#melodies_extraordinaires_album {
	height: 135px;
}

#paris_village_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 310px;
	top: 0;
}

a#meddled_times_youtube {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding-top: 5px;
	left: 465px;
	top: 0;
}

#bienvenue_myspace_img_fleches {
	position: absolute;
	left: 400px;
	width: 50px;
	height: 135px;
}

a#bienvenue_melodie_extra_teaser {
	display: block;
	text-decoration: none;
	border: none;
	position: absolute;
	padding: 5px;
	left: 150px;
	top: 0;
}

#bienvenue_link {
	display: block;
	background-image: url("../bienvenue5a.jpg");
	width: 146px;
	height: 49px;
	border: 0;
}

#bienvenue_link:hover {
	background-image: url("../bienvenue5b.jpg");
}

#welcome_link {
	display: block;
	background-image: url("../bienvenue6a.jpg");
	width: 146px;
	height: 49px;
	border: 0;
}

#welcome_link:hover {
	background-image: url("../bienvenue6b.jpg");
}

a#bienvenue_lien_chaine_youtube {
	display: block;
	color: white;
	text-decoration: none;
	border: 1px red solid;
	font-size: 15px;
	font-family: verdana, arial;
	padding-left: 25px;
}

.align_right {
	text-align: right;
	padding-right: 20px;
}

.bordered {
	border: solid white 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bordered img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dynamic_bordered:hover {
	border: solid white 2px;
}

#share {
    position: relative;
    left: 179px;
    top: -55px;
}

.share_logo img {
	height: 50px;
	margin: 10px;
}

#twitter_logo img {
	background-color: #55acee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/*Fin style page bienvenue*/

